# Build folders
.tmp
dist

# Sources from main
build
cmd
internal
pkg
test
examples
docs
Makefile*

# rest
!_config.yml
!reports/**

# jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Gemfile.lock