{{ define "ResponseStructGroup" }}
    {{- $operation := index . 0 }}
    {{- $currentPkg := index . 1 }}

    {{- /* Have if there's more than just one, append the name */ -}}
    {{ $numCreatedStructs := 0 }}

    {{- range $responseName, $response := $operation.Data.Responses }}
        {{- $isEmptyWrapper := containsSingularRef $response }}
        {{- $isEmpty := isEmpty $response }}

        {{- $shouldSkip := or $isEmptyWrapper $isEmpty }}
        {{ if not $shouldSkip }}
            {{- $nameSuffix := "" }}
            {{- $numCreatedStructs = increment $numCreatedStructs }}
            {{- if gt $numCreatedStructs 1 }}
                {{- $nameSuffix = $responseName }}
            {{- end }}
            {{- $structName := concat $operation.Name "Response" $nameSuffix | toTitle }}
            {{ template "responseStruct" args $structName $currentPkg $response }}
            {{- registerStruct $structName $currentPkg }}
         {{- end }}

    {{- end }}
{{- end }}

{{- define "responseStruct" }}
    {{- $structName := index . 0 }}
    {{- $currentPkg := index . 1 }}
    {{- $response := index . 2 }}

    {{- $respStruct := NewStruct $structName $currentPkg }}
    {{- range $response.Value.Content }}
        {{ $schema := schema "" .Schema }}
        {{- template "SchemaProperties" args $schema $currentPkg $respStruct }}
    {{- end }}
    {{ template "struct" args $respStruct }}
{{- end }}