{{ define "structArg" }}
    {{- $operation := index . 0 }}
    {{- $type := index . 1 | toTitle }}
    {{- $structRegistry := structRegistry }}
    {{- with $operation.StructForMessage $type $structRegistry }}
        {{- if and .Struct .Import -}}
            {{ $displayedImport := .Import | basePath }}
            {{- if ne $displayedImport "api" }}
                {{- $displayedImport = concat "api" $displayedImport }}
            {{- end }}

            {{- with $displayedImport }}{{  . }}. {{- end }}{{toTitle .Struct}}
        {{- else -}}
            interface{}
        {{- end }}
    {{- end }}
{{- end }}

{{ define "ImportStruct" }}
    {{- $hasCommonImport := index . 0 }}
    {{- $hasAPIImport := index . 1 }}
    {{- $rootData := index . 2 }}

    {{- $repository := index $rootData "Repository" }}
    {{- $version := index $rootData "Version" }}

    {{- /* It's like this because of weird new-line issues */ -}}
    {{- if and $hasCommonImport $hasAPIImport }}
        "{{$repository}}/pkg/api"
        api{{$version}} "{{$repository}}/pkg/api/{{$version}}"
    {{- else if $hasCommonImport}}
        "{{$repository}}/pkg/api"
    {{- else if $hasAPIImport }}
        api{{$version}} "{{$repository}}/pkg/api/{{$version}}"
    {{- end }}
{{ end }}