# information on the service
info:
  app:
    msx:
      # defaults to this services version, can be overridden in consul via installer
      version: ${info.app.version}
      show-build-info: true
    name: {{.Project.Name}}
    description: {{.Project.Description}}
    version: ${application.build.version}
    build-time: ${application.build.build-time}
    attributes:
      displayName: {{.Project.Name}}
      parent: unknown
      type: unknown

redis:
  addrs: ${spring.redis.host:localhost}:6379
  db: 0

tracing:
  enabled: true
  jaeger:
    host: localhost
    port: 6831
  sampler:
    enabled: true
    limit-per-second: 50

server:
  logging:
    default-level: "info"

management:
  enabled: true
  endpoint:
    health:
      show-components: always   # authorized | always | never | custom
      show-details: always      # authorized | always | never | custom
    apilist:
      enabled: true
      static-fs: "configs/api-list.json"
  security:
    enabled-by-default: false

security:
  keys:
    jwt:
      id: dev
      format: pem
      file: "configs/jwtpubkey.pem"
      password: TheCakeIsaLie
  jwt:
    key-name: "jwt"
  session:
    idle-timeout: "${security.auth.session-timeout.idle-timeout-seconds:9000}s"
    absolute-timeout: "${security.auth.session-timeout.absolute-timeout-seconds:18000}s"
  timeout-support:
    db-index: 8 # this should have the same value as security.session.db-index on auth service

swagger:
  spec: configs/api-docs-v3.yml
  security:
    sso:
      base-url: ${swagger.security.sso.baseurl:http://localhost:8900/auth}
      client-id: nfv-client

