# information on the service
info:
  app:
    msx:
      # defaults to this services version, can be overridden in consul via installer
      version: ${info.app.version}
      show-build-info: true
    name: "{{.Project.Name}}"
    description: "{{.Project.Description}}"
    version: ${application.build.version}
    build-time: ${application.build.build-time}
    attributes:
      displayName: "{{.Project.Name}}"
      parent: unknown
      type: unknown

{{if (.ProjectInit.EnabledModules.Has "redis")}}
redis:
  addrs: ${spring.redis.host:localhost}:6379
  db: 0
{{end}}

{{if (.ProjectInit.EnabledModules.Has "tracing")}}
tracing:
  enabled: true
  jaeger:
    host: localhost
    port: 6831
  sampler:
    enabled: true
    limit-per-second: 50
{{end}}

{{if (.ProjectInit.EnabledModules.Has "web")}}
server:
  logging:
    default-level: "info"
{{end}}

{{if (.ProjectInit.EnabledModules.Has "actuator")}}
{{template "configs/presets.actuator.yml.tmpl" .}}
{{end}}

{{if (.ProjectInit.EnabledModules.Has "security")}}
{{template "configs/presets.security.yml.tmpl" .}}
{{end}}

{{if (.ProjectInit.EnabledModules.Has "swagger")}}
swagger:
  spec: configs/api-docs-v3.yml
  security:
    sso:
      base-url: ${swagger.security.sso.baseurl:http://localhost:8900/auth}
      client-id: nfv-client
{{end}}