{{- if (.Project.EnabledModules.Has "resserver") -}}
-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDkNwfEwm7irSkndPJqRmivecn4
hb28tC2QngLgxH4Us1KBsUgwfWMoRBZnUsAeoaunxTIKB0pqeud6td/VYyXu/s0Q
2G6RbmqQvET9YI7P5Z/PToBdU1RXFmSfBnO913eHId2qzBomK0FA8xjbWMRndUKJ
Z8M3eneNjlOAuQr8dQIDAQAB
-----END PUBLIC KEY-----
{{- end -}}