#!/bin/bash

if [ -z "$POPULATE" ]; then
{{- range $name, $elem := .Executables }}
    {{- if $elem.Ports }}
    exec ./{{ $name }} "$@"
    {{- end }}
{{- end }}
{{- range $name, $elem := .Executables }}
    {{- if eq $elem.Type "migrator"  }}
elif [ "$POPULATE" = "database" ]; then
    exec ./{{ $name }} "$@"
    {{- end }}
{{- end }}
fi
